{% extends 'adminnavbar.html' %}
{% load static %}
{% block 'b1' %}
<style>
    body {
        background-image: url('{% static "images/BG4.jpg" %}');
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0;
    }

    h2 {
        font-size: 36px; /* Adjust the font size as needed */
    }
</style>
<br><br>
<h2><font color="red">&nbsp;&nbsp;Change Password</font></h2>
<br>
<form method="POST" action="{% url 'checkchangepassword'%}">
    {% csrf_token %}
    <table border="2" style="color:black">
        <tr>
            <td> Enter Your Username</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td> Enter Old password</td>
            <td> <input type="text" name="opwd" required/></td>
        </tr>
        <tr>
            <td> Enter New password</td>
            <td> <input type="text" name="npwd" required/></td>
        </tr>
    </table>
    <br>
    <table>
    <tr>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    </table>
</form>
{% endblock %}
